{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Bienvenido a tu Administrador Financiero</h1>
<p>Gestioná tus ahorros fácilmente.</p>
{% endblock %}


<!--  <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informate Papi</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
<body>
    <h1 style="text-align: center;">Info de las Primeras 5 Criptos Mas Cotizadas</h1>


    <p>Todos alguna vez nos preguntamos <b>el porque debemos comprar BTC</b> que es inseguro que es una 
    estafa piramidal etc etc... Bueno esta pagina esta dedicada para todas esas personas que piensan de esa manera.</p>

    <h2>tenemos 1000 dolares invertidos aca</h2>
    <p>Si queres averigual el precio del dolar haz click aqui! <a href="https://www.dolarhoy.com/">Dolar hoy</a></p>
    <p>equivale a 0,03 BTC </p>
    
    <br>
    <br>

    <h1>Inversion en ETH</h1>
    
    
    
    <h1>Inversion en BNB</h1>

    <h2>Cosas que aprender:</h2>
    <ul>
        <li>HTML (Estructura)</li>
        <li>CSS (Estilos)</li>
        <li>Flask (Lógica del servidor)</li>
    </ul>
    
    <footer>
        <p>&copy; 2025 Mi Proyecto. ¡A practicar!</p>
    </footer>

    </body>
</html>     -->